@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  display: inline-block;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*:hover,
*:active,
*:focus {
  outline: none;
}

body {
  color: #b3b3b3;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: #333333;
  padding: 0 5px;
  font-family: "SourceSansPro-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 7px;
  text-align: center;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.title.anim-active {
  opacity: 1;
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.text {
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  font-size: 14px;
  line-height: 1.786;
  color: #b3b3b3;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}

.text.anim-active {
  opacity: 1;
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.btn {
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  opacity: 0.7;
  border-radius: 50px;
  padding: 11px 17px;
  line-height: 0.75;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  border: 1px solid #f4d874;
  color: #f4d874;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-item.tabs-content--active {
  display: block;
}

.anim-bottom {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.anim-bottom.anim-active,
.anim-active .anim-bottom {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.anim-left {
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.anim-left.anim-active,
.anim-active .anim-left {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.anim-scale {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.anim-scale.anim-active,
.anim-active .anim-scale {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.footer__social-item:nth-child(2) {
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.footer__social-item:nth-child(3) {
  -webkit-transition: all 1.1s ease 0s;
  -o-transition: all 1.1s ease 0s;
  transition: all 1.1s ease 0s;
}

.footer__social-item:nth-child(4) {
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

.footer__social-item:nth-child(5) {
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.header {
  background: rgba(243, 129, 129, 0.9);
  /* Для старых браузров */
  background: -o-linear-gradient(45deg, rgba(243, 129, 129, 0.9), #f4d874);
  background: linear-gradient(45deg, rgba(243, 129, 129, 0.9), #f4d874);
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 730px;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.webp .header {
  background-image: url("../img/header-bg.webp");
}

.header__top {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__top.sticky {
  position: fixed;
  background-color: rgba(24, 181, 164, 0.9);
}

.header__top.sticky .header__body {
  height: 50px;
  padding-top: 0px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  z-index: 3;
  color: #f3f3f3;
}

.header__logo img {
  max-width: 100%;
  display: block;
  /* уберает не понтный отступ*/
}

.header__body {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  font-size: 16px;
  line-height: 0.75;
}

.header__item + .header__item {
  margin-left: 10px;
}

.header__link {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:hover {
  border: 1px solid #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__logo {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-item + .menu__list-item {
  margin-left: 10px;
}

.menu__list-link {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 0.75;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50px;
  border: 1px solid transparent;
}

.menu__list-link:hover {
  border: 1px solid #fff;
}

.header__content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 190px;
}

.header__content-title {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__content-title.anim-active {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}

.header__content-text {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  margin-bottom: 230px;
  line-height: 1.75;
  font-size: 16px;
}

.header__content-text.anim-active {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}

.header__content-btn {
  margin: 0 auto;
  border-radius: 50%;
  background-color: #f4d874;
  width: 36px;
  height: 36px;
  margin-bottom: 70px;
  position: relative;
}

.header__content-link {
  color: #fff;
}

.header__content-link i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.first {
  padding: 120px 0 70px;
}

.first__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first__content {
  padding: 10px;
  width: 450px;
}

.first__content-titie {
  color: #333333;
  margin-bottom: 50px;
  font-family: "SourceSansPro-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 7px;
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.first__content-titie.anim-active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.first__content-text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.786;
  color: #b3b3b3;
}

.first__content-btn {
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.first__content-btn.anim-active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.first__content-img.anim-active .first__img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.first__img {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.first__img img {
  width: 290px;
}

.services {
  background-color: #f3f3f3;
  padding: 100px 0 70px;
}

.services__top {
  text-align: center;
}

.services__top-title {
  margin-bottom: 40px;
}

.services__top-text {
  margin-bottom: 10px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__icons {
  margin-bottom: 55px;
}

.icons__item {
  position: relative;
  font-size: 17px;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #f4d874;
  margin-top: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.icons__item.anim-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.icons__item i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icons__item + .icons__item {
  margin-left: 22px;
}

.icons__item:hover {
  background-color: #95e1d3;
}

.services__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.786;
  color: #b3b3b3;
}

.services__bottom-text {
  width: 60%;
}

.feature {
  padding: 70px 0 0;
}

.feature__top-title {
  margin-bottom: 45px;
}

.bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__top-text {
  margin-bottom: 50px;
}

.bottom__box {
  width: 25%;
  position: relative;
}

.bottom__box:nth-child(1) {
  width: 50%;
}

.bottom__box:hover .bottom__box-descr {
  opacity: 1;
}

.bottom__box-descr {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(243, 129, 129, 0.9);
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__box-img {
  width: 100%;
  height: 100%;
}

.bottom__container {
  position: relative;
}

.handling {
  padding: 80px 0 140px;
  background-color: #f3f3f3;
}

.handling__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.handling__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.tabs.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 35px;
}

.tab.icons__item {
  margin: 0;
}

.tab.icons__item:hover {
  background-color: #b3b3b3;
}

.tab .icons__link + .tab .icons__link {
  margin-top: 17px;
}

.icons__link.tab--active .icons__item {
  background-color: #f4d874;
}

.handling__left-title {
  color: #333333;
  font-size: 20px;
  margin-bottom: 10px;
}

.handling__left-text {
  font-size: 16px;
}

.handling__left-text p {
  width: 400px;
}

.handling__left-text p + p {
  margin-top: 15px;
}

.handling__top-title {
  margin-bottom: 35px;
}

.handling__top-text {
  margin-bottom: 50px;
}

.handling__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.handling__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle__item {
  text-align: center;
  color: #b3b3b3;
}

.circle__item + .circle__item {
  margin-left: 20px;
}

.circle__percent {
  font-size: 120px;
  width: 1em;
  height: 1em;
  position: relative;
  background: rgba(24, 181, 164, 0.9);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.circle__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip: rect(0 1em 1em 0.5em);
}

.round__per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #95e1d3;
  clip: rect(0 1em 1em 0.5em);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1.05s;
  -o-transition: 1.05s;
  transition: 1.05s;
}

.percent__more .circle__inner {
  clip: rect(0 0.5em 1em 0em);
}

.percent__more:after {
  position: absolute;
  left: 0.5em;
  top: 0em;
  right: 0;
  bottom: 0;
  background: #95e1d3;
  content: "";
}

.circle__inbox {
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background: #fcfefe;
  z-index: 2;
  border-radius: 50%;
}

.percent__text {
  position: absolute;
  font-size: 25px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.impressed {
  padding: 80px 0 100px;
  background-image: url("../img/impressed-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #fff;
  position: relative;
}

.webp .impressed {
  background-image: url("../img/impressed-bg.webp");
}

.impressed__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.impressed__content {
  padding-right: 20px;
}

.impressed__content-title {
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 20px;
  letter-spacing: 5px;
}

.impressed__content-text {
  margin-bottom: 30px;
  font-size: 16px;
}

.impressed__content-author {
  line-height: 1.786;
  font-size: 14px;
}

.impressed__content-author span {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.impressed__img {
  margin-top: -110px;
}

.portfolio {
  background: #f3f3f3;
  padding: 80px 0 100px;
}

.portfolio__top-title {
  margin-bottom: 50px;
}

.portfolio__top-text {
  margin-bottom: 70px;
}

.portfolio__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__btn .button {
  background-color: transparent;
}

.portfolio__btn-item {
  color: #333333;
}

.portfolio__btn-item .button {
  position: relative;
}

.portfolio__btn-item .button::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.portfolio__btn-item .button:hover:before {
  width: 100%;
}

.portfolio__btn-item + .portfolio__btn-item {
  margin-left: 30px;
}

.portfolio__filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.portfolio__filter-item {
  position: relative;
  padding: 50% 0% 50% 0%;
}

.portfolio__filter-item.focused {
  opacity: 0.5;
}

.portfolio__filter-item:hover .portfolio__filter-item-descr {
  opacity: 1;
  visibility: visible;
}

.portfolio__filter-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__filter-item {
  grid-column: span 1;
  grid-row: span 1;
}

.portfolio__filter-item.anim-active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__filter-item--normalize img {
  width: 100%;
  max-height: 350px;
}

.portfolio__filter-item--normalize .portfolio__filter-item-descr {
  max-height: 350px;
}

.portfolio__filter-item--normalize {
  width: 100%;
}

.portfolio__filter-item--big {
  grid-column: span 1;
  grid-row: span 2;
}

.portfolio__inner {
  margin-bottom: 35px;
}

.portfolio__filter-item-descr {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(243, 129, 129, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__filter-item-inner {
  padding: 0 20px;
}

.portfolio__filter-item-title {
  color: #f4d874;
  position: relative;
  font-family: "OpenSans-Bold", sans-serif;
  margin-bottom: 2em;
  font-weight: 700;
}

.portfolio__filter-item-title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: #f4d874;
}

.portfolio__filter-item-text {
  padding-bottom: 10px;
  font-size: 17px;
  color: #333333;
}

.portfolio__filter-item-link {
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: #333333;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
  padding: 7px 10px;
  position: relative;
}

.portfolio__filter-item-link + .portfolio__filter-item-link {
  margin-left: 5px;
}

.portfolio__btn .button {
  position: relative;
}

.portfolio__btn .button::before {
  content: "";
  bottom: -3px;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #333333;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.portfolio__btn .portfolio__btn-item--active::before {
  width: 100%;
}

.portfolio__banner {
  padding: 60px 0;
  color: #fff;
  text-align: center;
  background-image: url("../img/portfolio__banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.webp .portfolio__banner {
  background-image: url("../img/portfolio__banner-bg.webp");
}

.portfolio__banner-text {
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 35px;
}

.portfolio__banner-btn {
  color: #fff;
  border: 1px solid #fff;
}

.team {
  padding: 80px 0 0;
}

.team__title {
  margin-bottom: 35px;
}

.team__text {
  margin-bottom: 60px;
}

.item-content {
  color: #b3b3b3;
  max-width: 450px;
}

.expertise__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-content__progress {
  margin-top: 25px;
}

.expertise__content-bar {
  position: relative;
  height: 4px;
  border-radius: 5px;
  background-color: #e1e4e9;
}

.expertise__content-per {
  height: 4px;
  background: #f4d874;
  border-radius: 5px;
  width: 0;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
}

.expertise__content-value {
  position: absolute;
  padding: 4px 6px;
  right: 0;
  top: -35px;
  opacity: 0;
  -webkit-transition: 4s ease;
  -o-transition: 4s ease;
  transition: 4s ease;
}

.team-slider {
  margin-bottom: 50px;
}

.team-slider__item {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.expertise__content-name {
  text-align: left;
  margin-bottom: 5px;
}

.team-slider__item-img {
  padding-right: 10px;
}

.team-slider .swiper-pagination {
  bottom: 0;
  position: static;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 1px solid #f4d874;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #f4d874;
}

.item-content {
  text-align: right;
}

.item-content__author {
  padding-right: 35px;
  border-right: 5px solid #f4d874;
}

.item-content__name {
  font-size: 20px;
  color: #464646;
}

.item-content__position {
  margin-bottom: 35px;
}

.item-content__text {
  font-size: 14px;
  padding-right: 35px;
  line-height: 1.786;
}

.team-banner {
  text-align: center;
  padding: 55px 0;
  background-image: url("../img/team-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.webp .team-banner {
  background-image: url("../img/team-banner.webp");
}

.team-banner__text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 35px;
}

.team-banner__btn {
  color: #fff;
  border: 1px solid #fff;
}

.testimonials {
  padding: 70px 0 100px;
  background: #f3f3f3;
}

.testimonials__title {
  margin-bottom: 35px;
}

.testimonials__text {
  margin-bottom: 60px;
}

.testimonials-slider {
  max-width: 1100px;
  background-color: #fff;
  padding: 60px 0px 90px 0px;
}

.testimonials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-item__img {
  padding: 0 20px;
}

.testimonials-item__img img {
  width: 200px;
}

.testimonials-item__content {
  padding: 0 60px 0 20px;
}

.testimonials-item__text {
  margin-bottom: 15px;
  font-size: 16px;
}

.testimonials-item__autor {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #333333;
}

.testimonials-item__position {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
  color: #333333;
  font-size: 15px;
}

.testimonials-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 36px;
}

.new {
  color: #f3f3f3;
  padding: 75px 0 100px;
  background-image: url("../img/new-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.webp .new {
  background-image: url("../img/new-bg.webp");
}

.new__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.new__text {
  font-size: 17px;
  margin-bottom: 35px;
  max-width: 450px;
}

.new-slider {
  position: relative;
}

.new-slider__wrapper {
  padding: 0;
  height: 450px;
}

.new-item {
  max-width: 570px;
}

.new-item__title {
  margin-bottom: 15px;
  font-size: 20px;
}

.new-item__subtitle {
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 14px;
}

.new-item__data {
  margin-bottom: 30px;
}

.data-container {
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
  color: #e1e4e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.data-container__item + .data-container__item {
  margin-left: 5px;
}

.new-item__text {
  margin-bottom: 25px;
  font-size: 17px;
}

.new-item__btn {
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.new-item__btn:hover {
  opacity: 1;
  border: 1px solid #fff;
  color: #fff;
}

.new .swiper-pagination {
  padding: 0 5px;
}

.new-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid #fff;
  background: transparent;
  width: 11px;
  height: 11px;
  opacity: 1;
}

.new-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #fff;
}

.new-title {
  margin-left: 100px;
}

.new-text {
  margin-left: 100px;
}

.price {
  padding: 75px 0 100px;
  background-color: #f3f3f3;
}

.price__title {
  margin-bottom: 45px;
}

.price__text {
  margin-bottom: 55px;
}

.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.price__item {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.17);
  min-width: 240px;
  min-height: 300px;
  background-color: #fff;
}

.price__item + .price__item {
  margin-left: 30px;
}

.price__item-top {
  padding: 25px 70px;
  background-color: rgba(24, 181, 164, 0.9);
}

.price__item-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.price__item-bottom {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #b3b3b3;
  letter-spacing: 3px;
  margin-top: auto;
}

.price__item-num {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: rgba(24, 181, 164, 0.9);
  margin: 30px 0 10px;
  line-height: 1.1;
}

.wrap__card {
  background-color: #b3b3b3;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap__card {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.wrap__card-front,
.wrap__card-back {
  position: absolute;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
}

.wrap__card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrap__card:hover .wrap__card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrap__card:hover .wrap__card-back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.price__item-advantage {
  font-size: 14px;
  color: #81868e;
  line-height: 2.143;
}

.wrap__card-back .price__item-top {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #b3b3b3;
  letter-spacing: 3px;
  background-color: #fff;
}

.wrap__card-back .price__item-bottom {
  padding: 30px 20px;
  color: #fff;
  background-color: rgba(24, 181, 164, 0.9);
}

.price__item-btn i {
  font-size: 14px;
}

.subscribe {
  padding: 75px 0 100px;
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.webp .subscribe {
  background-image: url("../img/subscribe-bg.webp");
}

.subscribe__title {
  color: #fff;
  margin-bottom: 35px;
}

.subscribe__text {
  color: #fff;
  margin-bottom: 50px;
}

.subscribe__form {
  font-size: 14px;
  text-align: center;
}

.subscribe__form-input {
  padding: 14px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 350px;
  color: #fff;
  margin-right: 10px;
}

.subscribe__form-input::-webkit-input-placeholder {
  color: #fff;
}

.subscribe__form-input::-moz-placeholder {
  color: #fff;
}

.subscribe__form-input:-ms-input-placeholder {
  color: #fff;
}

.subscribe__form-input::-ms-input-placeholder {
  color: #fff;
}

.subscribe__form-input::placeholder {
  color: #fff;
}

.subscribe__form-btn {
  padding: 14px 20px;
  background-color: #f4d874;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.subscribe__form-btn:hover {
  background-color: #95e1d3;
}

.contact {
  padding: 80px 0 120px;
  background-color: #f3f3f3;
}

.contact-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-card__item {
  text-align: center;
  width: 280px;
  min-height: 270px;
  background-color: #fff;
  padding: 0px 0px 30px 0px;
}

.contact__title {
  margin-bottom: 35px;
}

.contact__text {
  margin-bottom: 50px;
}

.contact-card__item + .contact-card__item {
  margin-left: 35px;
}

.contact-card__item-img {
  margin-bottom: 30px;
  position: relative;
}

.contact-card__item-img img {
  max-width: 100%;
}

.contact-card__item-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #333333;
  font-size: 35px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-card__item-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #464646;
  line-height: 1.25;
  font-size: 19px;
}

.contact-card__item-link {
  font-size: 17px;
  color: #b3b3b3;
}

.contact-form {
  padding: 80px 0 120px;
  background: #fff;
}

.send-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.send-form__input {
  border: 1px solid #b3b3b3;
  margin-bottom: 35px;
  padding: 14px 20px;
  width: 350px;
  color: #b3b3b3;
  height: 55px;
}

.send-form__input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.send-form__input::-moz-placeholder {
  color: #b3b3b3;
}

.send-form__input:-ms-input-placeholder {
  color: #b3b3b3;
}

.send-form__input::-ms-input-placeholder {
  color: #b3b3b3;
}

.send-form__input::placeholder {
  color: #b3b3b3;
}

.send-form__input:nth-child(2).anim-left {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.send-form__input:nth-child(3).anim-left {
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.send-form__textarea {
  border: 1px solid #b3b3b3;
  width: 100%;
  height: 190px;
  resize: none;
  padding: 10px;
  margin-bottom: 35px;
  color: #b3b3b3;
}

.send-form__btn {
  text-align: center;
  background-color: #f4d874;
  padding: 20px 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.send-form__btn button {
  color: #fff;
}

.send-form__btn:hover {
  background-color: #95e1d3;
}

.footer {
  padding: 80px 0;
  background-color: #f3f3f3;
  text-align: center;
}

.footer__logo {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #323a45;
  margin-bottom: 25px;
}

.footer__root {
  margin-bottom: 40px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.footer__social-item {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}

.footer__social-item:hover {
  opacity: 1;
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-facebook {
  background-color: #3b5998;
}

.footer__social-twitter {
  background-color: #26a6d1;
}

.footer__social-linkedin {
  background-color: #0e76a8;
}

.footer__social-instagram {
  background-color: #ffbf29;
}

.footer__social-vimeo {
  background-color: #26a6d1;
}

@media (max-width: 1095px) {
  .send-form {
    text-align: center;
  }

  .send-form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .send-form__input {
    width: 90%;
    margin-bottom: 20px;
  }

  .send-form__textarea {
    width: 90%;
    height: 150px;
    margin-bottom: 25px;
  }

  .send-form__btn {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1061px) {
  .handling__left {
    margin-right: 35px;
  }

  .handling__left-text {
    font-size: 14px;
  }

  .handling__left-text p {
    width: 350px;
  }
}

@media (max-width: 1045px) {
  .impressed__img {
    display: none;
  }

  .impressed__content {
    max-width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}

@media (max-width: 960px) {
  .handling__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .handling__left {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 900px) {
  .header {
    min-height: 530px;
    padding-bottom: 10px;
  }

  .webp .header {
    min-height: 530px;
    padding: 10px;
  }

  .menu__list-link {
    padding: 10px 12px;
  }

  .menu__list-item + .menu__list-item {
    margin-left: 10px;
  }

  .services__bottom-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px;
    text-align: center;
  }

  .services__bottom-text {
    width: 100%;
  }
}

@media (max-width: 890px) {
  .contact-card__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }

  .contact-card__item {
    margin: 15px;
  }

  .contact-card__item + .contact-card__item {
    margin: 15px;
  }
}

@media (max-width: 844px) {
  body.lock {
    overflow: hidden;
  }

  .header__logo {
    font-size: 25px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active {
    height: 20px;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 181, 164, 0.9);
    padding: 70px 0px 20px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }

  .header__menu.active {
    right: 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }

  .header__list {
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .header__item + .header__item {
    margin-top: 10px;
    margin-left: 0px;
  }

  .header__link {
    font-size: 20px;
  }
}

@media (max-width: 810px) {
  .testimonials-item {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonials-item__content {
    padding: 0 20px;
  }

  .testimonials-item__img {
    padding: 0px 0px 20px;
  }

  .price__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__item {
    margin: 15px;
  }

  .price__item + .price__item {
    margin-left: 15px;
  }
}

@media (max-width: 735px) {
  .first__inner {
    display: block;
    text-align: center;
  }

  .first__content {
    padding: 10px;
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 725px) {
  .portfolio__btn-item + .portfolio__btn-item {
    margin-left: 15px;
  }

  .portfolio__banner-text {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .bottom__container {
    display: block;
  }

  .bottom__box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .bottom__box:nth-child(1) {
    width: 80%;
  }

  .bottom__box-img {
    width: 100%;
  }

  .team-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-content {
    text-align: center;
    margin-bottom: 10px;
  }

  .item-content__text {
    padding: 0;
  }

  .team-slider__item-img {
    padding-right: 0;
    margin-bottom: 25px;
  }

  .item-content__author {
    padding-right: 0px;
    border-right: 5px solid #f4d874;
  }
}

@media (max-width: 651px) {
  .header__content {
    padding-top: 150px;
  }

  .header__content-text {
    margin-bottom: 190px;
  }

  .new__text {
    text-align: center;
    max-width: 100%;
  }

  .new__title {
    text-align: center;
  }

  .new-item {
    max-width: 100%;
  }

  .new-slider__wrapper {
    padding: 0;
    height: 100%;
  }

  .new-item__text {
    padding-right: 10px;
    font-size: 15px;
  }

  .new .swiper-pagination {
    bottom: 0;
  }
}

@media (max-width: 615px) {
  .portfolio__top-title {
    margin-bottom: 25px;
  }

  .portfolio__top-text {
    margin-bottom: 50px;
  }

  .portfolio__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }

  .portfolio__btn-item {
    margin-bottom: 10px;
  }

  .portfolio__btn-item + .portfolio__btn-item {
    margin-left: 0px;
  }

  .team-banner__text {
    font-size: 16px;
  }

  .portfolio__filter-item--normalize {
    width: 100%;
  }

  .portfolio__filter-item {
    padding: 50% 0 30%;
  }

  .subscribe__form-input {
    width: 240px;
  }
}

@media (max-width: 490px) {
  .header__content-title {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .header__content-text {
    font-size: 14px;
    margin-bottom: 170px;
  }

  .handling__left-text p {
    width: 100%;
  }

  .handling__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs.icons {
    margin: 0;
    margin: 0 20px 0 0;
  }

  .circle__item {
    margin-bottom: 20px;
  }

  .circle__item + .circle__item {
    margin-left: 0px;
  }
}

@media (max-width: 410px) {
  .subscribe__form-input {
    width: 170px;
    margin-right: 0;
    padding: 10px 15px;
  }

  .subscribe__form-btn {
    padding: 10px 15px;
  }
}

@media (max-width: 400px) {
  .header__content-title {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .header__content-text {
    margin-bottom: 170px;
  }

  .services__bottom-inner {
    font-size: 16px;
  }

  .subscribe__form-input {
    width: 170px;
    margin-right: 0;
    padding: 10px 15px;
  }

  .subscribe__form-btn {
    padding: 10px 15px;
  }
}

@media (max-width: 379px) {
  .subscribe__form-input {
    width: 180px;
  }
}

@media (max-width: 350px) {
  .header__content-title {
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  .header__content-text {
    margin-bottom: 170px;
  }

  .subscribe__form-input {
    width: 160px;
    margin-right: 0;
    padding: 10px 15px;
  }

  .subscribe__form-btn {
    padding: 10px 15px;
  }

  .footer__root {
    font-size: 16px;
  }
}